<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%5p [%d{yyyy-MM-dd HH:mm:ss}] (%F:%L) - %m%n" />
        </Console>
        <RollingFile name="LogFile" fileName="logs/log.log" filePattern="logs/log.log.%i">
            <PatternLayout pattern="%5p [%d{yyyy-MM-dd HH:mm:ss}] (%F:%L) - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="9" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="de" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
        </Logger>
        <Logger name="org" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
        </Logger>
        <Logger name="net" level="warn" additivity="false">
            <AppenderRef ref="LogFile" />
        </Logger>
        <Logger name="com" level="warn" additivity="false">
            <AppenderRef ref="LogFile" />
        </Logger>
        <Root level="warn">
            <AppenderRef ref="LogFile" />
        </Root>
    </Loggers>
</Configuration>
