<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

<!--     <context:component-scan base-package="de.ingrid" /> -->

    <!-- Beans for codelist access and synchronisation -->

    <bean id="ingridCommunication" class="de.ingrid.codelists.comm.IngridCLCommunication">
    </bean>
    
    <bean id="xmlPersistency" class="de.ingrid.codelists.persistency.XmlCodeListPersistency">
        <property name="pathToXml" value="data/codelists.xml" />    
    </bean>
    
    <bean id="codeListService" class="de.ingrid.codelists.CodeListService">
        <property name="comm" ref="ingridCommunication" />
        <property name="persistencies">
            <list>
                <ref bean="xmlPersistency" />
            </list>
        </property>
        <property name="defaultPersistency" value="0" />
    </bean>
    
    <!-- Scheduler Factory -->

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="simpleTriggerCodeLists" />
            </list>
        </property>
        <property name="applicationContextSchedulerContextKey">  
            <value>applicationContext</value>  
        </property> 
    </bean>
    
    <!-- Mapper Factory -->
    
    <bean name="updateCodeListsJobDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="de.ingrid.codelists.quartz.jobs.UpdateCodeListsJob" />
    </bean>
    
    <bean id="simpleTriggerCodeLists" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="updateCodeListsJobDetail" />
        <property name="startDelay" value="0" />
        <property name="repeatInterval" value="86400000" />
    </bean>
    
</beans>
